.aboutMe {
	position: relative;
	display: grid;
	place-items: center;
}
.aboutMe_text_container {
	width: 1200px;
	position: absolute;
	z-index: 10;
}
.aboutMe_text_container div {
	font-size: 65px;
	font-family: 'Avenir-BlackOblique';
	line-height: 65px;
	color: var(--n4);
	width: 100%;
	text-align: center;
}
.aboutMe_title {
	font-size: 350px;
	height: 380px;
	line-height: 240px;
	text-align: center;
	position: absolute;
	color: var(--n2_1);
	font-family: 'valencia';
}
.aboutMe_line_1.lines_inited {animation: moveUp 2.4s cubic-bezier(0, 0.1, .12, .99) forwards;}
.aboutMe_line_2.lines_inited {animation: moveUp 2.6s cubic-bezier(0, 0.1, .12, .99) forwards;}
.aboutMe_line_3.lines_inited {animation: moveUp 2.8s cubic-bezier(0, 0.1, .12, .99) forwards;}
.aboutMe_line_4.lines_inited {animation: moveUp 3s cubic-bezier(0, 0.1, .12, .99) forwards;}