.projects {
	display: flex;
}
.projects_container_1 {
	width: 50vw;
	height: 100vh;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
}
.projects_number {
	font-size: 60px;
	font-family: 'Avenir-BlackOblique';
	color: var(--n3);
	height: 60px;
	line-height: 80px;
}
.projects_info {
	height: fit-content;
	width: 100%;
	display: grid;
	place-items: center;
	margin-top: auto;
	margin-bottom: auto;
}
.projects_info_title {
	font-size: 120px;
	font-family: 'Valencia';
	line-height: 120px;
	height: 100px;
	color: var(--n4);
}
.projects_info_technologies {
	font-size: 35px;
	font-family: 'Avenir-BlackOblique';
	line-height: 35px;
	color: var(--n4_1);
}
.projects_info_description {
	font-size: 25px;
	font-family: 'Avenir-BlackOblique';
	line-height: 25px;
	text-align: center;
	color: var(--n4_2);
}
.projects_title {
	font-size: 60px;
	height: 60px;
	line-height: 80px;
	font-family: 'Avenir-BlackOblique';
	color: var(--n3);
	width: fit-content;
	margin-top: auto;
}
.projects_controls {
	display: flex;
	height: 50px;
	margin-left: auto;
	margin-top: auto;
}
.projects_controls img {
	cursor: pointer;
}
.projects_container_2 {
	width: 50vw;
	height: 100vh;
	padding: 50px;
}
.projects_images {
	height: 100%;
	width: 100%;
}
.projects_images_1 {
	height: 50%;
	display: flex;
	flex-wrap: wrap;
}
.projects_images_2 {
	height: 50%;
	display: flex;
}
.img_projects_1 {
	z-index: 10;
}
.img_projects_2 {
	z-index: 10;
	margin: auto;
}
.img_projects_3 {
	margin-top: auto;
	margin-left: auto;
}