@keyframes hideBarrierBlocks {
	0%{
		opacity: 1;
		height: 35vh;
	}
	100%{
		opacity: 0;
		height: 0vh;
	}
}
@keyframes moveRight {
	0%{
		transform: translateX(-1000px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes moveLeft {
	0%{
		transform: translateX(1000px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes moveUp {
	0%{
		transform: translateY(1000px);
	}
	100%{
		transform: translateY(0px);
	}
}
@keyframes img_projects_inited {
	0% {
		transform: translateX(1000px) translateY(-1000px);
	}
	50% {
		transform: translateX(0px) translateY(-500px);
	}
	100% {
		transform: translateY(0px);
	}
}