@font-face {
	font-family: 'antonella';
	src: url('../assets/font/Antonella/Antonella.ttf');
	}	
@font-face {
	font-family: 'Valencia';
	src: url('../assets/font/Valencia/Valencia.ttf');
}
@font-face {
	font-family: 'Avenir-BlackOblique';
	src: url('../assets/font/Avenir/Avenir-BlackOblique-04.ttf');
}